{% extends 'base.html' %}

{% block body %}
    <form action="" method="post">
        <table style="margin: 0 0 0 20px">
            <tbody>
                <tr>
                    <td>Username:</td>
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="pwd1"></td>
                </tr>
                <tr>
                    <td>Password Again:</td>
                    <td><input type="password" name="pwd2"></td>
                </tr>
                <tr>
                    <td>Telephone:</td>
                    <td><input type="text" name="telephone"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Submit"></td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}